doctype 5
html
  head
    title= start + '...'
    link(rel='stylesheet', href='/stylesheets/quote-style.css')
  body
    iframe(width='100%', height='100%', scrolling='yes', frameborder='yes', src=url, id='hiframe')
    script(src='javascripts/jquery-2.0.3.min.js')
    script(src='javascripts/jquery.highlight.js')
    script(src='javascripts/underscore-min.js')
    script.
      window.__highlighter = {
        start: "#{start}"
      };
      if (#{end}) {
        window.__highlighter.end = "#{end}";
      }
    script(src='javascripts/highlight.js')
